<% provide(:title, '新規予約') %>
<h1>新規予約</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@reservation) do |f| %>
      <%= render 'shared/error_reservation_messages' %>

      <%= f.label :reservation_date %>
      <%= f.date_field :reservation_date, class: 'form-control' %>

      <%= f.label :lunch_box_id %>
      <%= f.collection_select :lunch_box_id, @lunch_boxes, :id, :name %>

      <%= f.submit "予約", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>